openapi: 3.0.3
info:
  title: Rows Data Spreadsheets API
  version: v1
  description: The Rows API lets you programmatically read and write data in Rows spreadsheets. It exposes workspaces, folders and spreadsheets for discovery, table cell/value read-write operations for moving data in and out of a spreadsheet, and a Vision import endpoint that extracts structured data from image/document files using AI. Authentication is a Bearer API key generated from your Rows account. This description is DERIVED by API Evangelist from Rows' official public integration source (the first-party n8n community node) and the public developer docs; it captures the verified subset of operations and is not the provider's authoritative machine-readable contract.
  contact:
    name: Rows Support
    url: https://developers.rows.com/
  x-apievangelist-provenance:
    generated: '2026-07-21'
    method: derived
    source: https://github.com/rows/rows-n8n-nodes-rows (official first-party n8n node) + https://developers.rows.com/ + https://rows.com/docs/api
servers:
- url: https://api.rows.com/v1
  description: Production
security:
- BearerAuth: []
tags:
- name: Spreadsheets
  description: List and read spreadsheets and their tables.
paths:
  /spreadsheets:
    get:
      operationId: listSpreadsheets
      tags:
      - Spreadsheets
      summary: List spreadsheets
      description: List spreadsheets, optionally filtered to a single folder via the folder_id query parameter.
      parameters:
      - name: folder_id
        in: query
        required: false
        description: Restrict results to spreadsheets inside this folder.
        schema:
          type: string
      responses:
        '200':
          description: A list of spreadsheets.
        '401':
          description: Missing or invalid API key.
  /spreadsheets/{spreadsheetId}:
    get:
      operationId: getSpreadsheet
      tags:
      - Spreadsheets
      summary: Get a spreadsheet
      description: Retrieve a single spreadsheet, including its tables.
      parameters:
      - name: spreadsheetId
        in: path
        required: true
        description: The spreadsheet identifier.
        schema:
          type: string
      responses:
        '200':
          description: The spreadsheet and its tables.
        '401':
          description: Missing or invalid API key.
        '404':
          description: Spreadsheet not found.
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'Rows API key sent as an Authorization: Bearer <API_KEY> header. Generate a key in your Rows account settings.'
