openapi: 3.2.0
info:
  title: Rows Vision API
  version: v1
  description: The Rows API lets you programmatically read and write data in Rows spreadsheets.
  contact:
    name: Rows Support
    url: https://developers.rows.com/
  x-apievangelist-provenance:
    generated: '2026-07-21'
    method: derived
    source: https://github.com/rows/rows-n8n-nodes-rows (official first-party n8n node) + https://developers.rows.com/ + https://rows.com/docs/api
servers:
- url: https://api.rows.com/v1
  description: Production
security:
- BearerAuth: []
tags:
- name: Vision
  description: Extract structured data from files using Rows AI Vision.
paths:
  /vision/import:
    post:
      operationId: importVisionData
      tags:
      - Vision
      summary: Import data from files with Rows AI Vision
      description: Extract structured tabular data from one or more image/document files and import it into a spreadsheet. Sent as multipart/form-data.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                files:
                  type: array
                  items:
                    type: string
                    format: binary
                folder_id:
                  type: string
                app_id:
                  type: string
                  description: Target spreadsheet id.
                table_id:
                  type: string
                mode:
                  type: string
                merge:
                  type: boolean
                instructions:
                  type: string
              required:
              - files
      responses:
        '200':
          description: Data extracted and imported.
        '401':
          description: Missing or invalid API key.
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'Rows API key sent as an Authorization: Bearer <API_KEY> header. Generate a key in your Rows account settings.'
