openapi: 3.0.3
info:
  title: Rows Data Workspaces API
  version: v1
  description: The Rows API lets you programmatically read and write data in Rows spreadsheets. It exposes workspaces, folders and spreadsheets for discovery, table cell/value read-write operations for moving data in and out of a spreadsheet, and a Vision import endpoint that extracts structured data from image/document files using AI. Authentication is a Bearer API key generated from your Rows account. This description is DERIVED by API Evangelist from Rows' official public integration source (the first-party n8n community node) and the public developer docs; it captures the verified subset of operations and is not the provider's authoritative machine-readable contract.
  contact:
    name: Rows Support
    url: https://developers.rows.com/
  x-apievangelist-provenance:
    generated: '2026-07-21'
    method: derived
    source: https://github.com/rows/rows-n8n-nodes-rows (official first-party n8n node) + https://developers.rows.com/ + https://rows.com/docs/api
servers:
- url: https://api.rows.com/v1
  description: Production
security:
- BearerAuth: []
tags:
- name: Workspaces
  description: Discover the workspaces available to the authenticated key.
paths:
  /workspaces:
    get:
      operationId: listWorkspaces
      tags:
      - Workspaces
      summary: List workspaces
      description: List the workspaces the authenticated API key can access.
      responses:
        '200':
          description: A list of workspaces.
        '401':
          description: Missing or invalid API key.
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'Rows API key sent as an Authorization: Bearer <API_KEY> header. Generate a key in your Rows account settings.'
